/* 新闻列表 */
.news-list {
    padding: 50px 0;
}

.news-list li {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px dashed #ddd;
}

.news-list li .img {
    width: 400px;
    height: 200px;
}

.news-list li .date {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: #fc677a;
}

.news-list li .date span:first-child {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
}

.news-list li .date span:last-child {
    height: 20px;
    font-size: 12px;
}
.news-list li .site-title {
    padding-left: 20px;
}

.news-detail {
    padding: 50px 0;
}

.news-detail .site-title{
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.news-detail .description{
    border: 1px #ddd dotted;
    padding: 15px;
}

.news-detail .description > span{
    color: #ff6600;
}
.news-detail .content{
    padding: 30px 0;
}
.news-detail .content p {
    text-indent: 2em;
}

.news-detail .content p img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* 产品列表 */
.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 20px;
}

.product-list .item {
    flex: 0 0 25%;
    padding: 20px;
}

.product-list .item .detail {
    width: 240px;
    height: 280px;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.product-list .item .detail .img {
    max-width: 180px;
    height: 220px;
}

.product-list .item .detail .text {
    display: block;
    line-height: 30px;
}

/* 联系我们 */
.page-contact {
    background: #f0f0f0;
    padding: 50px 0;
}

.page-contact > .page-size {
    display: flex;
}

.page-contact-img {
    width: 450px;
    height: 350px;
    background: url("../img/page/contact.jpg") no-repeat 0 0;
}

.page-contact-form {
    flex: 1 1 600px;
    padding-left: 30px;
}

.page-contact-form > p {
    text-indent: 2em;
}

.page-contact-form > form {
    padding-top: 20px;
}

.page-contact-form .form-item {
    padding: 0 0 20px;
}

.page-contact-form .form-label {
    display: block;
    width: 100%;
    line-height: 40px;
}

.page-contact-form .form-input {
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.page-contact-form .form-info {
    display: flex;
    align-items: center;
}


.page-contact-form .form-info > input {
    width: 80px;
    margin-right: 10px;
}
.page-contact-form .form-info > img {
    width: 60px;
    height: 18px;
    margin-right: 10px;
}
.page-contact-form .form-info > span {}


.page-contact-form .form-button {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #cf4557;
    color: #fff;
    cursor: pointer;
}

.page-contact-form .form-button:hover,
.page-contact-form .form-button:active {
    background: #af1226;
}


/* 品牌理念 */
.page-concept {
    background: #f0f0f0;
    padding: 50px 0;
}

.page-concept > .page-size {
    display: flex;
    align-items: center;
}

.page-concept-img {
    width: 530px;
    height: 660px;
    background: url("../img/page/concept.jpg") no-repeat 0 0;
    position: relative;
    z-index: 2;
}

.page-concept-detail {
    background: #fff;
    width: 670px;
    padding: 50px 40px;
    height: 500px;
}

.page-concept-box {
    border: 2px solid rgb(225, 0, 85);
    border-bottom: none;
    padding: 30px 30px 30px 110px;
    margin-left: -100px;
    position: relative;
    z-index: 3;
}

.page-concept-box > .site-title {
    margin-bottom: 30px;
}


.page-concept-more {
    background: #fc677a;
    height: 200px;
}

.page-concept-more > .page-size {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.page-concept-more .more-text {
    font-size: 16px;
}
.page-concept-more .more-button {
}
